/*@import './base.css';*/



html,body{
  width: 100%;
  background-color: #ffffff;
  height: 100%;
  position: relative;
  margin: 0;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #383838;
}
body{
  padding: 10px;
  background-color: #ffffff;

}
#app {
  min-width: 500px;
  background-color: #f6f6f6;
  width: 75%;
  height: 100%;
  margin: 0;
  padding-right:5%;
  /*padding: 10px 0;*/

  font-weight: normal;
  display: flex;
  align-items: start;
  flex-direction: row;
}

